body
{
background-color:powderblue;
}
h1
{
color:yellow;;
font-size:30px;
}
p1
{ 
color:blue;
font-size:50px;
font-style:oblique;
text-align:center;
}
p2
{
background-color:purple;
color:white;
text-align:center;
}
li{
color:red;
img{
border-style:groove;
border-width:20px;
}
